name: main

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
    workflow_dispatch:

env:
    CARGO_TERM_COLOR: always

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v6
              with:
                  node-version: "24"
                  cache: "pnpm"
            - run: pnpm install --frozen-lockfile
            - name: Check formatting
              run: pnpm fmt --check
            - name: Lint
              run: pnpm lint
            - name: Check Rust formatting
              run: cargo fmt -- --check

    build:
        runs-on: ubuntu-latest
        env:
            RUSTFLAGS: -D warnings
        steps:
            - uses: actions/checkout@v6
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
            - uses: actions/setup-node@v6
              with:
                  node-version: "24"
                  cache: "pnpm"
            - uses: actions/cache@v5
              with:
                  path: |
                      ~/.cargo/bin/
                      ~/.cargo/registry/index/
                      ~/.cargo/registry/cache/
                      ~/.cargo/git/db/
                      target/
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            - run: pnpm install --frozen-lockfile
            - name: Build WASM and TypeScript
              run: pnpm build
            - name: Typecheck
              run: pnpm typecheck
            - name: Install wabt
              run: sudo apt-get install -y wabt
            - name: Check 2D SIMD build contains SIMD instructions
              run: |
                  if ! wasm-objdump -d packages/rapier-2d/wasm/release-simd/rapier_wasm2d_bg.wasm | grep ':\sfd' ; then
                    echo "ERROR: 2D SIMD build does not include SIMD opcode prefix." >&2
                    exit 1
                  fi
            - name: Check 3D SIMD build contains SIMD instructions
              run: |
                  if ! wasm-objdump -d packages/rapier-3d/wasm/release-simd/rapier_wasm3d_bg.wasm | grep ':\sfd' ; then
                    echo "ERROR: 3D SIMD build does not include SIMD opcode prefix." >&2
                    exit 1
                  fi
